﻿@model IEnumerable<Models.Aluno>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" ng-app="myApp" ng-controller="myCtrl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="aluno in alunos">
        <td>
            {{aluno.Nome}}
        </td>
        <td>
            {{aluno.Nota}}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {ng_attr_id = "{{aluno.id}}"}) |
            @Html.ActionLink("Details", "Details", new {ng_attr_id = "{{aluno.id}}"}) |
            @Html.ActionLink("Delete", "Delete", new {ng_attr_id = "{{aluno.id}}"})
        </td>
    </tr>

</table>

    <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", ["$scope", "$http", function ($scope, $http) {
        $http.post("http://localhost:52800/ServicoAluno.asmx/Alunos").then(response => {
            $scope.alunos = response.data;
        });
    }]);
    </script>
</body>
</html>
